.DS_Store
.venv-arcade/
backend.log
frontend.log
LibreChat/e2e/playwright-report*
LibreChat/e2e/storageStateGoogle.json
LibreChat/e2e/specs/.google-test-results/
LibreChat/npm_check_output.txt
npm_check_output.txt
LibreChat/npm_check_output_fixed.txt
LibreChat/e2e/google/playwright-report/
LibreChat/e2e/google/specs/.test-results/
e2e/storageState.json
LibreChat/e2e/google/test-results/
LibreChat/test-results/
LibreChat/test-results/*.json
scratchpad.md
LibreChat/packages/data-provider/rollup.config-1748544387798.cjs
sym-links/
